.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared */

a.btn {
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    align-self: center;

}

/* FRONT PAGE */

.banner {
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(77, 71, 255, 0.048);
    





}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.logo {
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900;
}

.banner-text {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin: 200px 300px 260px 300px;

}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    margin: 300px 200px 150px 200px;
}

.action-text {
    margin: 60px 0px;
    font-size: 40px;
}

.action-intext {
    margin: 60px 0px;
    font-size: 24px;
}

.image-one {

    border-radius: 30px;
}


/* User section */
.productive-user-background {
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 150px;
    margin: 150px 200px;
    border-radius: 30px;
    

    
    
}



.usersec {
    display: flex;
    text-align: center;
    gap: 150px;
    justify-content: center;

}

.usersec ul{

    list-style: none;
    
}

.usersec li{

    text-align:left;

}

.Big-letter {

    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.usersec-title {
     font-size: 38px;
     font-weight: bold;
}


/*review */

.review-mono{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
}

.review{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 150px 150px 150px;
    
}

.user-column{

    background-color:rgba(255, 255, 255, 0.747);
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.041);
    border-radius: 15px;
    max-width: 400px;


}

.reviewer-picture{

    border-radius: 50px;
    margin-top: 8px;
}

.reviewer{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(117, 117, 117, 1);
}

.date{

    color: rgba(179, 179, 179, 1);
    line-height: 1.1px;
    

}

/*focus*/

.focus{

text-align: center;
justify-content: center;
background-color:rgba(255, 255, 255, 0.747);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.041);
padding: 50px 70px 50px 70px;
border-radius: 15px;
margin: 200px;
}

.focus-title{

font-size: 50px;
margin: 0px;


}

.focus-text{
    color: rgba(0, 0, 0, 0.616);
    margin-bottom: 30px;
}

.big-picture{
border-radius: 40px;
    margin: 30px ;
}

/* Get in touch*/

.get-touch{

    display: flex;
    justify-content: space-between;
    
    margin: 0px 200px 150px 200px;

}

.get-touch-title{

    font-size: 50px;
    max-width: 40%;
}

.input-text{ 

    font-size:18px ;
}

input{

    border-radius: 20px;
    height: 70px;
    width: 500px;
    margin-bottom: 0px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
}

.message textarea {
 border-radius: 20px;
    height: 150px;
    width: 500px;
    margin-bottom: 50px;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  

}


/*Footer*/

footer{
    background-color:rgba(255, 255, 255, 0.747); 
    text-align: center;
    padding: 50px 500px 200px 500px;
}

footer .big-logo{
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
    
}

footer .ending{
    color: rgba(0, 0, 0, 0.37);
    margin:0px 40px 40px 40px ;
}

footer .links{

    display: flex;
    justify-content: center;
    gap: 50px;
    text-decoration: none;
    
}

.links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.336);
}




