

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared */

a.btn {
  background-color: #4E47FF;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  align-self: center;
  
}

/* FRONT PAGE */

.banner {
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
   display: flex;
    justify-content: space-between;
    margin: 50px;

}
.logo{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900;
}

.banner-text{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin: 200px 300px 260px 300px;
    
}





